.ClientSection {
  background: #199ce8;
  margin: -2px;
  color: #ffffff;
}
.ClientSection h3 {
  text-align: center;
  font: 42px Segoe UI;
  color: #ffffff;

  @media (max-width: 425px) {
    font-size: 35px;
  }
}
