.SectionHeader__header {
  margin-bottom: 5px;
  // Remove margin if nothing after header
  &:last-child {
    margin-bottom: 0;
  }

  // Added if props.centered is true
  &.is-centered {
    text-align: center;
  }

  .subtitle {
    max-width: 50%;
    // So we can have max-width but still
    // have alignment controlled by text-align.
    display: inline-block;
  }
}
.titleSection {
  width: auto;
  text-align: left;
  font: 41px Segoe UI;
  color: #707070;
  @media (max-width: 425px) {
    text-align: center;
  }
}
.subtitleSection {
  height: 64px;
  text-align: center;
  font: Regular 24px Segoe UI;
  color: #707070;
  opacity: 1;
}
